OPENWEATHER_API_KEY=your_openweather_api_key_here

INFLUX_URL=https://influxdb.asoytabang.online
INFLUX_TOKEN=your_influxdb_token_here
INFLUX_ORG=your_org_here
INFLUX_BUCKET=your_bucket_here

TELEGRAM_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

CITY=Yogyakarta,ID
FETCH_INTERVAL_SECONDS=1200
